<%= csrf_meta_tags %>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">EventAware</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
  <li class="nav-item active">
    <a class="nav-link" href="<%= home_path(@user) %>">My Events</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="<%= profile_path(@user) %>">Profile</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="<%= new_event_path(@user) %>">Create New Event</a>
  </li>
</ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<%= form_with url: "/user/#{@user}/event", method: :post do |form| %>
      <div class="form-group">
        <%= form.label :title, "Event Title", class: "form-label" %>
        <%= form.text_field :title, class: "form-control", placeholder: "title", :required => true %>
      </div>

      <div class="form-group">
        <%= form.label :start_date, "Event Start Date", class: "form-label" %>
        <%= form.date_field :start_date, class: "form-control", placeholder: "date", :required => true %>
      </div>

      <div class="form-group">
        <%= form.label :start_time, "Start Time", class: "form-label" %>
        <%= form.time_field :start_time, class: "form-control", placeholder: "time", :required => true %>
      </div>

      <div class="form-group">
        <%= form.label :end_date, "Event End Date", class: "form-label" %>
        <%= form.date_field :end_date, class: "form-control", placeholder: "date", :required => true %>
      </div>

      <div class="form-group">
        <%= form.label :end_time, "End Time", class: "form-label" %>
        <%= form.time_field :end_time, class: "form-control", placeholder: "time", :required => true %>
      </div>

      <div class="form-group">
        <%= form.label :description, "Description", class: "form-label" %>
        <%= form.text_field :description, class: "form-control", placeholder: "description", :required => true %>
      </div>

      <%= form.submit "Create New Event", class: "btn btn-primary" %>

<% end %>



