<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
.left{
  padding-left:10px;
}
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">EventAware</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
  <li class="nav-item active">
    <a class="nav-link" href="<%= home_path(@user) %>">My Events</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="<%= profile_path(@user) %>">Profile</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="<%= new_event_path(@user) %>">Create New Event</a>
  </li>
</ul>
   
  </div>
</nav>
<div class="card-info" style="width:50%; height:50%">
<h6 for="exampleInputEmail1">Event Name</h6>
<p><%= @event_info .title %></p>
<h6 for="exampleInputEmail1">Event Description</h6>
<p><%= @event_info .description%></p>
<h6 for="exampleInputEmail1">Event Start Date</h6>
<p><%= @event_info .start_date%></p>
<h6 for="exampleInputEmail1">Event End Date</h6>
<p><%= @event_info .end_date%></p>
<h6 for="exampleInputEmail1">Date Posted</h6>
<p><%= @event_info .date_posted%></p>
<h6 for="exampleInputEmail1">Organizer</h6>
<p><%= link_to @event_info.organizer, profile_path(@event_info.organizer)%></p>


<%= 
if !@registered
  button_to "Register", { :controller => "registrations", :action => "create" }, method: :post, class: "btn btn-primary btn-block mb-4", id: "register_button" 
else
  button_to "Unregister", { :controller => "registrations", :action => "destroy" }, method: :delete, class: "btn btn-primary btn-block mb-4", id: "register_button"
end 
%>

<%= button_to "Chat", { action: "chat" }, method: :get, class: "btn btn-primary btn-block mb-4", id: "chat_button" %>

<%= 
if @authenticated
  button_to "Edit", { action: "edit" }, method: :get, class: "btn btn-primary btn-block mb-4", id: "edit_button" 
end
%>

</div>