<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="p-5 text-center bg-light">
  <h1 class="mb-3">EventAware</h1>
  <h4 class="mb-3">Register</h4>
</div>

  <%= form_with url: "/user", method: :post do |form| %>
    <div class="container" style="text-align: center; margin-top: 10%; padding: 5% 2%; width: 50%; border: 1px solid blue;">

    <div class="form-outline mb-4">
      <%= form.label :uni, "Username", class: "form-label" %>
      <%= form.text_field :uni, class: "form-control" %>
    </div>

    <div class="form-outline mb-4">
      <%= form.label :name, "Name", class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="form-outline mb-4">
      <%= form.label :password, "Password", class: "form-label" %>
      <%= form.text_field :password, class: "form-control", type: "password" %>
    </div>

    <%= form.submit "Register", class: "btn btn-primary btn-block mb-4" %>
  <% end %>